# Python
__pycache__/
*.py[cod]

# Virtual environments
.env/
.venv/
venv/

# Tests / tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Environment variables / secrets
.env

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store